<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flowbite Flask</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>

          $("#layoutBoard a").click(function(event){
            var url=$(this).attr("href")
            if(url!="/logout"){
              event.preventDefault();
              $.ajax({
                url:url,
                type:"get",
                success:
                  function(response){
                    $("#content").html(response);
                  },
                  error:
                    function(xhr){
                      $("#content").html("<p>Une erreur s'est produite</p>");
                    }
              })
            }
          });
        
        </script> 
    </head>

<body>
<div class="antialiased bg-gray-50 dark:bg-gray-900" id="layoutBoard">

  {% include './layouts/topBar.html' %} 
  {% include './layouts/sideBar.html' %}  

<div id="content">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="toast-simple" class="flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
    <svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
    </svg>
    <div class="ps-4 text-sm font-normal">{{ messages[0] }}</div>
</div>
  {% endif %}
  {% endwith %}

  {% block content %} {% endblock %}  

</div>

</div>



{% include './boardPages/components/upload_modal.html' %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.js"></script>
</body>
</html>>